<p-card [style]="{width: '360px'}" styleClass="ui-card-shadow">
  <p-header>
    <h3 class="first">Iniciar sesión</h3>
  </p-header>

  <div class="p-grid p-justify-between	">
    <div class="p-col-12">
      <div class="p-col-6">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" pInputText name="email" placeholder="Correo electronico" [(ngModel)]="credentials.email">
        </div>
      </div>
      <div class="p-col-6">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
          <input type="password" pInputText name="password" placeholder="Contraseña" [(ngModel)]="credentials.password">
        </div>
      </div>

    </div>

  </div>
  <p-footer>
    <div class="p-col-12 p-justify-between	">
      <div class="p-col">

        <button pButton type="submit" label="Confirmar" class="ui-button-rounded ui-button-success" (click)="doLogin()"></button>
        <button pButton type="button" label="Limpiar" class="ui-button-rounded ui-button-warning" (click)="clear()"></button>
      </div>

    </div>
  </p-footer>
</p-card>
