<div class="layout-topbar">
  <span>Am</span><span>I</span><span>nvi</span><span> 2.0</span>
  tipografia = ultrafresh

  <i class="logout fas fa-power-off" (click)="doLogout()" *ngIf="(authService.authState | async)"></i>
</div>
<div class="layout-main">
  <p-toast position="top-right" class="toast"></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

  <div class="layout-content">

    <ng-container *ngIf="(authService.authState | async); else loginTemplate">

      <p-tabView>
        <p-tabPanel header="Regalo a..." leftIcon="fas fa-gifts">
          <app-gifted></app-gifted>
        </p-tabPanel>
        <p-tabPanel header="Mi lista de deseos" leftIcon="fas fa-shopping-basket">
          <app-wishlist></app-wishlist>
        </p-tabPanel>
        <!-- TODO: añadir la condicion para admins -->
        <p-tabPanel header="Admin" leftIcon="fas fa-admin" >
            <app-admin></app-admin>
        </p-tabPanel>

      </p-tabView>
    </ng-container>
    <ng-template #loginTemplate>
      <div class="p-grid  p-justify-center p-align-center	">
        <app-login></app-login>
      </div>
    </ng-template>
  </div>
  <div class="layout-footer">
    footer
  </div>
</div>
