<div class="p-grid">
  <div class="p-col">
    <p-table [value]="userArr" (onEditComplete)="updateUser($event)">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Foto</th>
          <th>Relacion</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td [pEditableColumn]="rowData" [pEditableColumnField]="'name'">
<p-cellEditor>
              <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="rowData.name">
              </ng-template>
              <ng-template pTemplate="output">
                  {{rowData.name }}
              </ng-template></p-cellEditor>
          </td>
          <td>{{ rowData.email }}</td>
          <td [pEditableColumn]="rowData" [pEditableColumnField]="'photo'">
            {{ rowData.photo }}
          </td>
          <td [pEditableColumn]="rowData" [pEditableColumnField]="'relationship'">
            dropdown rels
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData>
          <div style="text-align:right">
              <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
          </div>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog header="Nuevo miembro" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
    <div class="p-grid">
      <div class="p-col">nombre</div>
      <div class="p-col">mail</div>
      <div class="p-col">parentesco</div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="exit()" label="Exit"></button>
            <button type="button" pButton icon="fa fa-check" (click)="saveNew()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
